body {
  background-color: #f0f0f0; /* Light mode background color */
  color: #000; /* Light mode text color */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition */
}

.dark-mode {
  background-color: #222; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
}

#dark-mode-toggle {
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex; /* Center icons and text horizontally */
  /* align-items: center; Align icons and text vertically */
  /* justify-content: space-between; Space icons and text evenly */
}

.light-mode-icon,
.dark-mode-icon {
  font-size: 1.2rem; /* Adjust icon size as needed */
  opacity: 0.5; /* Set initial opacity for both icons */
}

.dark-mode .light-mode-icon {
  opacity: 0; /* Hide light mode icon in dark mode */
}

.dark-mode .dark-mode-icon {
  opacity: 1; /* Show dark mode icon in dark mode */
}

.one{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row-reverse;

  position: absolute;
  left: 85%;
  width: 20%;
  padding: 0;
}